body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #00afcc;
}
.container {
     display: inline-block;
     width: 800px;
     margin-top: 60px;
     margin-left: calc(50% - 400px);
 }

 .left-column {
     width: 40%;
     float:left;
     padding: 40px;
     margin-top: 20px;
     background-color: #494eac;
     color: white;
     background-image: url(../img/hill.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;

     height: 450px;


 }
.main-title {
     display: inline-block;
     font-size: 32px;
     font-weight: normal;
    
 }
.bottom-links {
     display: inline-block;
     
 }

.bottom-links > .link {
    color: white;
    font-size: 14px;
}

.bottom-links > .symbol {

}
.right-column {
     width: 60%;
     float: left;
     padding: 60px;
     background-color:white;
 }
.close {
    display: inline-block;
    background-color: red;
}
.right-column span {
    display: inline-block;
    padding: 15px;
    line-height: 20px;
    font-size: 20px;
    margin-left: 15px;
}
.right-column a {
    display: inline-block;
    padding: 15px;
    line-height: 20px;
    font-size: 20px;
    text-decoration: none;

}

.right-column a:hover{
    text-decoration: underline;

